h1{
	color: red;
	text-shadow: 5px 5px 3px black, 5px 3px 3px white; 
	font-family: 'Roboto', sans-serif;

}







#prrf2{
	text-align: right;
	border: solid 5px white;
	border-radius: 20px 0px 10px 0px;
	margin-top: 100px;
	padding: 20px;
}
body{
	background: url(../img/450_1000.jpg);
	background-size: cover; 
	}

	#prrf1{

		border: 5px solid red;
		border-top: 10px solid green;
		border-left: 8px inset red;
		border-right: 8px groove orange;
		border-bottom: 7px double white;

	}
